
#mainMenu {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#gameContainer {
    display: none;
     justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
    
}
.village {
     margin: auto;
background-image: url("/vila-de-cowboys.jpg");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 90%;
    height: 100vh;
}
#endGame {
    display: none;
}
