#mainMenu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-image: url(../images/duelo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
#mainMenu p,
#mainMenu h1,
#mainMenu button {
  user-select: none;
}
#mainMenu button {
  background-color: rgba(121, 97, 97, 0.267);
  color: black;
  font-size: larger;
  border: none;
  font-size: 30px;
}
#mainMenu h1 {
  font-size: 70px;
  display: flex;
  margin-bottom: 50%;
}
#mainMenu p {
  font-size: 30px;
  line-height: 2;
}
#gameContainer {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-color: rgba(19, 6, 6, 0.499);
  margin: 0 auto;
}
.hud {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  color: white;
  font-size: 30px;
  user-select: none;
  pointer-events: none;
}
.score,
.lives {
  margin: 0;
  line-height: 2;
  font-size: 50px;
  position: relative;
  right: 200px;
  color: black;
}
.kills {
  font-size: 75px;
  position: relative;
  left: 2000px;
  color: black;
  pointer-events: none;
}
.innocents {
  font-size: 75px;
  position: relative;
  left: 1900px;
  color: black;
  pointer-events: none;
}
.dodge {
  font-size: 60px;
  position: relative;
  left: 1900px;
  color: black;
  pointer-events: none;
}
.village {
  position: relative;
  margin: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 90%;
  height: 100vh;
}
#endGame {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-image: url("./images/game-over.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  user-select: none;
}
.endGameHub {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
  top: 1000px;
  left: 50%;
  transform: translateX(-50%);
}
.endGameHub button {
  background-color: rgb(233, 223, 223);
  color: black;
  width: 250px;
  height: 150px;
  font-size: 60px;
}

#winnerScreen {
  height: 100vh;
  display: none;
  background-image: url("./images/win.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#winnerScreen h1 {
  text-align: center;
  font-size: 150px;
  pointer-events: none;
  user-select: none;
  margin: 0 auto;
  color: orange;
}
.winHub {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
  top: 710px;
  right: 280px;
}
#winnerScreen button {
  background-color: #b8deeb;
  color: orange;
  width: 250px;
  height: 150px;
  font-size: 60px;
}
